<div id="docs-content">
<!-- ============================== class title ============================ -->
	<h1 class="classTitle">
		
		Namespace pulse
	</h1>

<!-- ============================== class summary ========================== -->
	<p class="description">
		
		

		

		
			<br /><span class="em">Defined in: </span> <a href="https://github.com/onmodulus/pulse/blob/master/lib/pulse/src/action/action.js">/src/action/action.js</a>
		
	</p>

<!-- ============================== constructor summary ==================== -->
	
	<table class="summaryTable" cellspacing="0" summary="A summary of the constructor documented in the class pulse.">
		<caption>Namespace Summary</caption>
		<thead>
			<tr>
				<th scope="col">Constructor Attributes</th>
				<th scope="col">Constructor Name and Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="attributes">&nbsp;</td>
				<td class="nameDescription" >
					<div class="fixedFont">
						<b><a href="../symbols/pulse#constructor">pulse</a></b>
					</div>
					<div class="description">Namespace declaration if needed.</div>
				</td>
			</tr>
		</tbody>
	</table>
	

<!-- ============================== properties summary ===================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the fields documented in the class pulse.">
			<caption>Field Summary</caption>
			<thead>
				<tr>
					<th scope="col">Field Attributes</th>
					<th scope="col">Field Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						pulse.<b><a href="../symbols/pulse#.error">error</a></b>
						</div>
						<div class="description">Static error throwing functions.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						pulse.<b><a href="../symbols/pulse#.renderer">renderer</a></b>
						</div>
						<div class="description">Initialize renderer
pass the renderer you want to use as the argument in the implement() function</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	

<!-- ============================== methods summary ======================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the methods documented in the class pulse.">
			<caption>Method Summary</caption>
			<thead>
				<tr>
					<th scope="col">Method Attributes</th>
					<th scope="col">Method Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.<b><a href="../symbols/pulse#.addGameFile">addGameFile</a></b>(src)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.<b><a href="../symbols/pulse#.addLayer">addLayer</a></b>(pulseLayerObj, container, isActive, sceneId)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.<b><a href="../symbols/pulse#.addVisualToLayer">addVisualToLayer</a></b>(pulseVisualObj, layerName, sceneId)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.<b><a href="../symbols/pulse#.clearLayer">clearLayer</a></b>(name, sceneId)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.<b><a href="../symbols/pulse#.clearLayerSection">clearLayerSection</a></b>(x, y, width, height, layerName, sceneId)
						</div>
						<div class="description">Clears the section in the layer.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.<b><a href="../symbols/pulse#.drawBitmapLabelVisualObject">drawBitmapLabelVisualObject</a></b>(visualObj, layerObj)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.<b><a href="../symbols/pulse#.drawCanvasLabelVisualObject">drawCanvasLabelVisualObject</a></b>(visualObj, layerObj)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.<b><a href="../symbols/pulse#.drawPlainVisualObject">drawPlainVisualObject</a></b>(visualObj, layerObj)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.<b><a href="../symbols/pulse#.drawSpriteVisualObject">drawSpriteVisualObject</a></b>(visualObj, layerObj)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.<b><a href="../symbols/pulse#.drawVisualObject">drawVisualObject</a></b>(pulseVisualObj, layerName, sceneId)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.<b><a href="../symbols/pulse#.generateScriptTag">generateScriptTag</a></b>(src)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.<b><a href="../symbols/pulse#.getLiveLayerByName">getLiveLayerByName</a></b>(name, sceneId)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.<b><a href="../symbols/pulse#.implement">implement</a></b>(impl)
						</div>
						<div class="description">Implements a Renderer</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.<b><a href="../symbols/pulse#.init">init</a></b>(libSrc)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.<b><a href="../symbols/pulse#.notifyReady">notifyReady</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.<b><a href="../symbols/pulse#.PixiRenderer">PixiRenderer</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.<b><a href="../symbols/pulse#.prepareLayers">prepareLayers</a></b>(defaultWidth, defaultHeight, sceneId)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.<b><a href="../symbols/pulse#.PulseDefaultRenderer">PulseDefaultRenderer</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.<b><a href="../symbols/pulse#.ready">ready</a></b>(callback)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.<b><a href="../symbols/pulse#.removeLayer">removeLayer</a></b>(layerName, sceneId)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.<b><a href="../symbols/pulse#.removeVisualFromLayer">removeVisualFromLayer</a></b>(pulseVisualObj, layerName, sceneId)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.<b><a href="../symbols/pulse#.RendererInterface">RendererInterface</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.<b><a href="../symbols/pulse#.updateMultipleLayers">updateMultipleLayers</a></b>(layers)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.<b><a href="../symbols/pulse#.updateVisual">updateVisual</a></b>(visualObj, layerObj)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.<b><a href="../symbols/pulse#.updateVisualInLayer">updateVisualInLayer</a></b>(pulseVisualObj, layerName, sceneId)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	
<!-- ============================== events summary ======================== -->
	

<!-- ============================== constructor details ==================== -->
	
	<div class="details"><a name="constructor"> </a>
		<div class="sectionTitle">
			Namespace Detail
		</div>

		<div class="fixedFont">
				<b>pulse</b>
		</div>

		<div class="description">
			Namespace declaration if needed.
		</div>

		


			
			
			
			
			
			
			

	</div>
	

<!-- ============================== field details ========================== -->
	
		<div class="sectionTitle">
			Field Detail
		</div>
		
			<a name=".error"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>error</b>

			</div>
			<div class="description">
				Static error throwing functions.
			</div>

			

				
				
				
				

			<hr />
		
			<a name=".renderer"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>renderer</b>

			</div>
			<div class="description">
				Initialize renderer
pass the renderer you want to use as the argument in the implement() function
			</div>

			

				
				
				
				

			
		
	

<!-- ============================== method details ========================= -->
	
		<div class="sectionTitle">
			Method Detail
		</div>
		
			<a name=".addGameFile"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>addGameFile</b>(src)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>src</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name=".addLayer"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>addLayer</b>(pulseLayerObj, container, isActive, sceneId)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>pulseLayerObj</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>container</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>isActive</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>sceneId</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name=".addVisualToLayer"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>addVisualToLayer</b>(pulseVisualObj, layerName, sceneId)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>pulseVisualObj</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>layerName</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>sceneId</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name=".clearLayer"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>clearLayer</b>(name, sceneId)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>name</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>sceneId</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name=".clearLayerSection"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>clearLayerSection</b>(x, y, width, height, layerName, sceneId)

			</div>
			<div class="description">
				Clears the section in the layer.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{Number}</span> <b>x</b>
							
						</dt>
						<dd>x bound of box top left corner.</dd>
					
						<dt>
							<span class="light fixedFont">{Number}</span> <b>y</b>
							
						</dt>
						<dd>y bound of box top right corner</dd>
					
						<dt>
							<span class="light fixedFont">{Number}</span> <b>width</b>
							
						</dt>
						<dd>width of box</dd>
					
						<dt>
							<span class="light fixedFont">{Number}</span> <b>height</b>
							
						</dt>
						<dd>height of box</dd>
					
						<dt>
							<span class="light fixedFont">{String}</span> <b>layerName</b>
							
						</dt>
						<dd>name od the layer to be acted upon</dd>
					
						<dt>
							<span class="light fixedFont">{Number}</span> <b>sceneId</b>
							
						</dt>
						<dd>ID of the scene layer belongs to.</dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name=".drawBitmapLabelVisualObject"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>drawBitmapLabelVisualObject</b>(visualObj, layerObj)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>visualObj</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>layerObj</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name=".drawCanvasLabelVisualObject"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>drawCanvasLabelVisualObject</b>(visualObj, layerObj)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>visualObj</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>layerObj</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name=".drawPlainVisualObject"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>drawPlainVisualObject</b>(visualObj, layerObj)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>visualObj</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>layerObj</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name=".drawSpriteVisualObject"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>drawSpriteVisualObject</b>(visualObj, layerObj)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>visualObj</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>layerObj</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name=".drawVisualObject"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>drawVisualObject</b>(pulseVisualObj, layerName, sceneId)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>pulseVisualObj</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>layerName</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>sceneId</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name=".generateScriptTag"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>generateScriptTag</b>(src)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>src</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name=".getLiveLayerByName"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>getLiveLayerByName</b>(name, sceneId)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>name</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>sceneId</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name=".implement"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>implement</b>(impl)

			</div>
			<div class="description">
				Implements a Renderer
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>impl</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name=".init"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>init</b>(libSrc)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>libSrc</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name=".notifyReady"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>notifyReady</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name=".PixiRenderer"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>PixiRenderer</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name=".prepareLayers"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>prepareLayers</b>(defaultWidth, defaultHeight, sceneId)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>defaultWidth</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>defaultHeight</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>sceneId</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name=".PulseDefaultRenderer"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>PulseDefaultRenderer</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name=".ready"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>ready</b>(callback)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>callback</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name=".removeLayer"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>removeLayer</b>(layerName, sceneId)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>layerName</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>sceneId</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name=".removeVisualFromLayer"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>removeVisualFromLayer</b>(pulseVisualObj, layerName, sceneId)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>pulseVisualObj</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>layerName</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>sceneId</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name=".RendererInterface"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>RendererInterface</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name=".updateMultipleLayers"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>updateMultipleLayers</b>(layers)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>layers</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name=".updateVisual"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>updateVisual</b>(visualObj, layerObj)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>visualObj</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>layerObj</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name=".updateVisualInLayer"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.</span><b>updateVisualInLayer</b>(pulseVisualObj, layerName, sceneId)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>pulseVisualObj</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>layerName</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>sceneId</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			
		
	

<!-- ============================== event details ========================= -->
	
</div>